body {
    background-color: #f2f2f2;
}
.woman-main-pic {
    width: 100%;
}
.main-woman-forre {
    display: none;
}
.woman-blackdiv-text {
    display: none;
}
.container {
    margin-left: 16px;
    margin-right: 16px;
}
.main-pic-re {
    display: none;
}
.text-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 32px;
}
.text {
    max-width: 343px;
    max-height: 112px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    line-height: 28px;
    font-weight: 300;
    color: #444444;
    margin-top: 32px;
}
.location-button {
    display: flex;
    margin-top: 32px;
}
.black-part {
    width: 220px;
    height: 72px;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-text {
    width: 137px;
    height: 24px;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
}
.lightbrown-part {
    width: 56px;
    height: 72px;
    background-color: #d5966c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior {
    width: 100% ;
    margin-top: 120px;
}
.change-top {
    margin-top: 25px;
}
.interior-pic2 {
    width: 100%;
    margin-top: 32px;
}
.interior-pic3-re {
    display: none;
}
.interior-pic3 {
    width: 100%;
    margin-top: 16px;
}
.black-div {
    background-color: #151515;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px; 
    margin-top: 16px;   
}
.blackdiv-text {
    width: 295px;
    height: 94px;
    margin-top: 24px;
    color:white;
}
.blackdiv-title {
    color: white;
    margin-top: 16px;
}
.footer-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 40px;
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 32px;
}
.footer-text {
    color:white;
}
footer {
    width: 100%;
    margin-top: 120px;
    background-color:#151515;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.black-part:hover {
    background-color: #d5966c;
    cursor: pointer;
}
.black-part:hover + .lightbrown-part {
    background-color: #151515;
}







/* location sidee */
.map {
    width: 100%;
}
.location-back-lightbrown {
    width: 56px;
    height: 72px;
    background-color: #d5966c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brown-black-div {
    display: flex;
    position: absolute;
    top: 0;
}
.back {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}
.part-black {
    width: 208px;
    height: 72px;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #151515;
    display: block;
    margin: 0 auto;
    position: static;
}
.inside-cube {
    width: 66px;
    height: 56px;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-lightbrown {
    width: 24px;
    height: 24px;
    background-color: #d5966c;
    border-radius: 30px;
}
.location-but {
    height: 106px;
    width: 66px;
}
.map-img-cont {
    width: 100%;
    height: 574px;
    background-image: url(../images/map.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container {
    margin-left: 16px;
    margin-right: 16px;
}
.black-section {
    width: 100%;
    height: 493px;
    background-color: #151515;
}
.texts-locs {
    padding-top: 48px;
}
.loc-text {
    width: 100%;
    height: 45px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    line-height: 45px;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.5px;
}
.loc {
    width: 100%;
    height: 32px;
    color: #d5966c;
    font-weight: 32px;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 48px;
}
.modern-textre {
    display: none;
}
.modern-text-re {
    display: none;
}
.forre {
    display: none;
}
.location-lines {
    width: 100%;
    height: 84px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    line-height: 28px;
    margin-top: 20px;
}
.side-womanpic {
    display: none;
}
.loc-bigtext {
    max-width: 343px;
    height: 140px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
}
.footer2 {
    margin-top: 0;
    background-color: #d5966c;
}
.para {
    color: #151515;
}
/* .part-black:hover {
    background-color: #d5966c;
    cursor: pointer;
}
.part-black:hover > .location-back-lightbrown {
    background-color: #151515;
} */
.brown-black-div:hover > .location-back-lightbrown{
    background-color: #151515;
}
.brown-black-div:hover > .part-black{
    background-color: #D5966C;
}

@media screen and (min-width:780px) {
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
    .main-woman-forre {
        visibility: visible;
        width: 60%;
        display: none;
        height:700px;
    }
    .img-woman-rescont {
        position: relative;
        width: 60%;
        height: 700px;
        background-image: url('https://scontent.ftbs5-3.fna.fbcdn.net/v/t1.15752-9/311050466_443249524585701_8478249984809585180_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeED8lgV-j3biJ6tQzOkO39sltbwcA7gJk-W1vBwDuAmT9jcAtlBEce1u47c76C0mK4opVOBl5oeevRfjOiNs_eO&_nc_ohc=Xue9qhitWQsAX_vO66z&_nc_ht=scontent.ftbs5-3.fna&oh=03_AdRm2jGRhs2eUpdKESkWn57AwyXd3ws0kvXbXcwlOLLzTw&oe=63773CA0');
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
    }
    .woman-main-pic {
        display: none;
    }
    .text-but {
        position: absolute;
        right: 40px;
        top: 100px;
    }
    .img-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .day-text {
        margin-top: 156px;
        width: 223px;
        height: 140px;
        margin-right: 68px;
        order: 1;
    }
    .interior1-cont {
        width: 56%;
        order: 2;
    }
    .interior-pic2 {
        width: 55%;
        margin-right: 11px;
    }
    .interior-pic3 {
        display: none;
    }
    .twopic-col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .interior-pic3-re {
        display: inline;
        width: 100%;
    }
    .black-div {
        width: 100%;
    }
    .interior3pic-re {
        display: flex;
        margin-top: 11px;
        margin-right: 0;
        width: 100%;
    }
    .footer-div {
        display: flex;
        justify-content: space-around;
        align-items:flex-start;
    } 
    .logomodern {
        width: 110px;
        height: 40px;
        margin-top:45px;
    }
    .footer-icons {
        margin-left: 133px;
    }
    .footer-div {
        width: 100%;
    }
    /* locationnnnn resolution tablett */
    .map-img-cont {
        background-image: url('https://scontent.ftbs5-2.fna.fbcdn.net/v/t1.15752-9/312268740_5169513659821242_7913040003184725370_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeE9kfTIU8QjZgqKM9duVFqXzTk3EU1vF3HNOTcRTW8Xcfb8R3ct5JASTNkrNLcBd41ZnZMVtzNxL2As9MXE1XMi&_nc_ohc=UApCe9Bwhw0AX8luN-z&tn=8e1zPL0SlGSJwdTb&_nc_ht=scontent.ftbs5-2.fna&oh=03_AdQKYGIPwdHqjgy2e_Mg9_gi7pP4CTiIjSKOK3B7hyWHuA&oe=63781B2B');
    }
    .brown-black-div {
        margin-left: 39px;
    }
    .texts-locs {
        display:flex;
        justify-content: space-between;  
        align-items: flex-start;
}
    .loc-text {
        width: 223px;
        font-size: 55px;
        letter-spacing: 0.5px;
        line-height: 50px;
        margin-top: 70px;
    }
    .footer-div2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .black-logo {
        margin-top: 45px;
    }
}
/* for desktop */
@media screen and (min-width:1200px) {
    .img-woman-rescont {
        display: none;
    }
    .container {
        margin-left: 165px;
        margin-right: 165px;
    }
    .woman-blackdiv {
        width: 90%;
        height: 100%;
        display: flex;
        position: relative;
    }
    .black-divpartre {
        width: 40%;
        height: 100vh;
        background-color: #151515;
        color: white;
    }
    .womanpic-rescont {
        width: 60%;
        height: 100vh;
        background-image: url('../images/mainre.jpg');
        background-size: cover;
        background-position: 100%;
    }
    .textfor-re {
        margin-right: 0;
    }
    .main-pic-re {
        height: 100%;
        width: 100%;
    }
    
    .modern-text {
        display: none;
    }
    .woman-main-pic {
        display: none;
    }
    .main-pic-re {
        width: 700px;
        display: block;
    }
    .womanpic-recont {
        background-color: black;
        width: 500px;
        height: 600px;
    }
    .forre {
        width: 100%;
        height: 300px;
        display: flex;
        position: absolute;
        margin-left: 165px;
        /* left: 18rem; */
        top: 30%;
    }
    .text {
        font-size: 22px;
    }
    .day-text {
        width: 35%;
    }
    .textfor-re {
        display: block;
        margin-left: 70%;
    }
    .notre {
        display: none;
    }
    .modern-text-re {
        color: white;
        display: block;
        position: absolute;
        font-size: 96px;
        line-height: 88px;
        mix-blend-mode:difference;
    }
    .twopic-col{
     width: 70%;
    }
    .img-text {
        width: 100%;
    }
    .brown-black-div {
        margin-left: 165px;
    }
    .container3 {
        margin: 0;
    }
    .map-img-cont {
        background-image: url('../images/Bitmap.png');
    }
}
@media screen and (min-width:1250px) {
    
}
